@font-face {
    font-family: "MingLiu";
    src: url(fonts/MingLiU-ExtB.woff);
}
body {
    background-color: #f0f0f0;
    font-family: "MingLiu";
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#lettergif-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}